@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500;600;700&display=swap');

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
}

.top-nav-back-icon {
  height: 30px;
  margin-left: 1em;
  padding-top: 3px;
}

.top-nav-title {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #ffffff;
}

.top-nav-type-icon {
  height: 32px;
  margin-right: 1em;
}
